{% extends 'base.html' %}

{% block title%}THANK YOU!{% endblock %}

{% block content %}
    <h1>Thank you for taking the time to complete the {{ survey.title }}!</h1>
    <p>We have taken note of the following responses chosen by you:</p>
    <ul>
        {% for question in survey.questions %}
        <li>
            <b>{{ question.question }}</b>
            {{ responses[loop.index0]["choice"] }}
            <i>{{ responses[loop.index0]["text"] }}</i>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
